* {
    margin: 0;
    padding: 0;
}
html {
   height: 100vw;
}
body {
    background: #F3F5FC;
    justify-items:flex-start;

}
.contenedor {
  
}

header {
    width: 600px;
    height: 50px;
   background-color:  rgb(0, 255, 149);
}
.header__img {
    position: absolute;
}
.header__img > img {
    position: relative;
    left: 84px;
    top: 100px;
    width: 50px;
    height: 48px;
}


.encriptador_form {
    width: 600px;
    height: 508px;
   background-color:  blue
}
.textarea__contenedor {

}
.texto__contenedor__info {

}
.contenedor__info {
    
}

.encriptador {

}
.contenedor__segundario {
   float: right;
    height: 508px;
    top: 15%;
    width: 446px;
    background-color: black;
}
.cotenedor__segundario__muñeco {

}
.contenedor__segundario__h3 {

}
.contenedor__segundario__parrafo {
    
}
footer {
    width: 0;
    height: 0;
   background-color:  rgb(255, 0, 0);
}