* {
    margin: 0;
    padding: 0;
}
html {
   height: 100%;
}
body {
    background-color: aliceblue;
    height:100vh;
    box-sizing: border-box;
}
.contenedor {
   display: flex;
   align-items: center;
   margin: 1%;
   justify-content: space-between;
}

header {
    width: 100%;
    height: 50px;
   background-color:  blue;
}
.header__img {
    position: absolute;
}
.header__img > img {
    position: relative;
    left: 84px;
    top: 40px;
    width: 31.09px;
    height: 48px;
}


.encriptador_form {

}
.textarea__contenedor {

}
.texto__contenedor__info {

}
.contenedor__info {
    
}

.encriptador {

}
.contenedor__segundario {
    width: 446px;
    background-color: black;
}
.cotenedor__segundario__muñeco {

}
.contenedor__segundario__h3 {

}
.contenedor__segundario__parrafo {
    
}
footer {
    width: 100%;
    height: 50px;
   background-color:  rgb(255, 0, 0);
}